<div class="details" style='text-align:center;width:370px;'>
	<%= form_for :task, url: task_path(@task), method: :patch do |f|%>

	<div class='field'>
		<h4> Voici votre tâche : Que souhaitez vous modifier ?</h4>
		<%= f.text_field :task_title, class: 'field1', required: true, placeholder: 'Intitulé' %>
		<h5> Date d'échéance </h5>
		<%= f.date_field :deadline, class: 'field1', required: true %>

		<%= f.submit "Mettre à jour !", data:{ disable_with: 'Modification en cours
		...' }, style: 'font-size:16px;vertical-align:middle;margin-top:20px;', class: 'button'%>
	</div>

	<hr style='margin-bottom:5vh;width:40%;'/>

	<%= link_to "Retour", root_path %>

	<% end%>
</div>
