<div class="show">
	<%= form_for :task, url: task_path(@task), method: :patch do |f|%>
	<p>
		<h3> Tâche </h3>
		<%= f.text_field :task_title %>
		<h4> Despcription </h4>
		<%= f.text_area :task_description %>
		<h4> Date d'échéance </h4>
		<%= f.date_field :deadline %>
	</p>

	<p>
		<%= f.submit "Modifier", data:{ disable_with: 'Modification en cours
		...' }%>
	</p>
	<p class="bouton"> <%= link_to "Retour", tasks_path %> </p>

	<% end%>
</div>
