  <!-- Affiche toutes les taches -->
<!DOCTYPE hmtl>
<html>

	<head></head>

<body>
	<header>
		<h1> Doolt </h1>
	</header>

	<table>
		<tr>
			<th> Done </th>
			<th> To-Do </th>
			<th> Description </th>
			<th> Date de fin </th>
			<th> Temps restants </th>
			<th colspan="3"> Action  </th>

		</tr>

	<% @tasks.each do |t|%>
		<tr>
			<td>
					<%= check_box :p ,:nom,:valeur_on=>true, :valeur_off=>false %>
					<% if check_box = true %>
					<% t.done == true	%>
					<% %>
					<% %>
					<%end%>
			</td>
			<td> <%= t.task_title %> </td>
			<td> <%= t.task_description %> </td>
			<td id = "min-width"> <%= t.deadline %> </td>
			<% time = ((t.deadline.to_time - Time.now).to_i) %>
			<td id = "min-width"> <% if time >= 0 %>
				<p><%= (time/3600) / 24 %>j <%= (time/3600) % 24%>h <%= (time/60) % 60 %>m</p>
				<%elsif	time < 0 %>
				<p> Supposed to be done </p>
				<%else%>
				<p> DONE </p>
				<% end %>
			</td>
			<td> <p class="bouton"><%= link_to 'Détails', task_path(t) %> </p> </td>
			<td> <p class="bouton"><%= link_to 'Modifier', edit_task_path(t) %> </p> </td>
			<td> <p class="bouton"><%= link_to 'Supprimer', task_path(t), method: :delete, data: { confirm: "Etes vous certain ?"} %> </p> </td>
		</tr>
	<% end %>
	</table>

<br>

<p class= 'bouton'><%= link_to "Ajouter", new_task_path %></p>

</body>

</html>
