
<div class="container">

			<div class="header">
				<h1 style ='font-size:3em'>Doolt</h1>
				<p class="lead">Découvrez doolt : une nouvelle interface vous permettant de gérer vos tâches via une to-do list épurée, simple, et efficace.</p>
			</div>
			<hr/ id='hr1'>
</div>

				<div class='row'>
			    <table>
		        <thead>
							<tr>
			          <th>To-do</th>
			          <th>Description</th>
								<th>Times left</th>
								<th></th>
              </tr>
		        </thead>

            <tbody>
								<% @tasks.each do |t|%>
		          <tr>
			          <td><%= t.task_title %></td>
		            <td style="width:400px"><%= t.task_description %></td>
								<td><% time = ((t.deadline.to_time - Time.now).to_i) %>
										<% if time >= 0 %>
											<p><%= (time/3600) / 24 %>j <%= (time/3600) % 24%>h <%= (time/60) % 60 %>m</p>
										<%elsif	time < 0 %>
											<p> Supposed to be done </p>
										<%else%>
											<p> DONE </p>
										<% end %>
							 	</td>
							 	<td>
								 		<%= link_to 'Détails', task_path(t) %>
							 	</td>
							</tr>
					<%end%>
							<tr></tr>
							<tr>
							 	<th colspan='4' style='color:#925446;font-size:1em'>Add..</th>
					 		</tr>

			      </tbody>
			    </table>
				</div>


			<hr/ id='hr2'>

			<div style="text-align:center;">
				<div class="bouton_accueil">
					<%= link_to 'Ajoutez une tâche', new_task_path %>
				</div>

					<div class="user">
						<div class="bouton_accueil" style='display:inline-block'>
							<%= link_to 'Modifier mon compte', edit_user_registration_url%>
						</div>

						<div class="bouton_accueil" style="display:inline-block">
							<%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete%>
						</div>
					</div>
		  </div>

<br>

	<footer class="footer">
		<p style='color:#95a5a6'>Développement :<span style="color:#ecf0f1"> Mathieu Harribey</span> | Github :<span style="color:#ecf0f1"> doolt </span></p>
		<p style='color:#95a5a6'>&copy; 2016 Company, Inc.</p>
	</footer>
