<div class="details" style='text-align:center;width:370px;'>
	<%= form_for :task, url: tasks_path do |f|%>
	<p>
		<h3> Tâche </h3>
		<%= f.text_field :task_title, class: 'field1', required: true %>
		<h4> Description </h4>
		<%= f.text_area :task_description, class: 'field2', required: true %>
		<h4> Date d'échéance </h4>
		<%= f.date_field :deadline, class: 'field1', required: true %>
	</p>

	<p>
		<%= f.submit "Add", data: { disable_with: 'Ajout en cours
		...'}, style: 'font-size:16px;vertical-align:middle;margin-top:20px;' %>
	</p>
	<p class="bouton_accueil"><%= link_to "Retour", root_path %></p>

	<% end%>
</div>
