<div class="details" style='text-align:center;width:370px;'>
	<%= form_for :task, url: tasks_path do |f|%>

		<h3> Vous avez quelque chose de prévu ? </h3>
		<div class="field">

			<%= f.text_field :task_title, class: 'field1', required: true, placeholder: 'Intitulé' %>
			<h5> Deadline </h5>
			<%= f.date_field :deadline, class: 'field1', required: true %>

			<%= f.submit "Add", data: { disable_with: 'Ajout en cours
			...'}, style: 'font-size:16px;vertical-align:middle;margin-top:20px;', class: 'button' %>
		</div>

		<hr style='margin-bottom:5vh;width:40%;'/>

	<%= link_to "Retour", root_path %>

	<% end%>
</div>
