<%= form_for :tasks, url: tasks_path do |f|%>
	<p>
		<h3> Tâche </h3>
		<%= f.text_field :task_title %>
		<h4> Despcription </h4>
		<%= f.text_area :task_description %>
		<h4> Date d'échéance </h4>
		<%= f.datetime_local_field :deadline %>
	</p>

	<p>
		<%= f.submit "Ajouter", :disable_with => 'Ajout en cours
		...' %>
	</p>
	<% end%> 