<div class="container">

      <div class="header">
        <h1 style ='font-size:3em'>Doolt</h1>
        <p class="lead">Découvrez doolt : une nouvelle interface vous permettant de gérer vos tâches via une to-do list épurée, simple, et efficace.</p>
      </div>
      <hr/ id='hr1'>
</div>

<div class='home' style='text-align:center;width:400px;'>

<h2 class='title'>Se connecter</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'field3' %>
  </div>

  <div class="field">
    <%= f.label :password, 'Mot de passe' %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'field3' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Se connecter", style: 'font-size:16px;vertical-align:middle;margin-top:20px;' %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>
