
<div class="container">
			<div class="header">

				 <h1 class='item-navbar' id='main-title'>Doolt</h1>
				<div class="item-navbar" id='add-task'>
					<p> Bienvenue, <span style='color:#1794AC'><%= current_user.email %></span> !</p>
				</div>
				<div class="item-navbar" id='edit-profil'>
					<%= link_to 'Profil', edit_user_registration_url%>
				</div>
				<div class="item-navbar" id='quit'>
					<%= link_to image_tag('images/quit.png'), destroy_user_session_path, method: :delete%>
				</div>

			</div>
</div>

				<div class='row'>
			    <table>
		        <thead>
							<tr>
			          <th>To-do</th>
			          <!-- <th>Description</th> -->
								<th>Times left</th>
								<th></th>
								<th></th>
              </tr>
		        </thead>

            <tbody>
								<% @tasks.each do |t|%>
				          <tr>
					          <td style="width:400px"><%= t.task_title %></td>
				            <!-- <td style="width:400px"><%= t.task_description %></td> -->
										<td><% time = ((t.deadline.to_time - Time.now).to_i) %>
												<% if time >= 0 %>
													<p><%= (time/3600) / 24 %>j <%= (time/3600) % 24%>h <%= (time/60) % 60 %>m</p>
												<%elsif	time < 0 %>
													<p> Supposed to be done </p>
												<%else%>
													<p> DONE </p>
												<% end %>
									 	</td>
									 	<td>
										 		<%= link_to image_tag('images/edit.png'), edit_task_path(t), id: 'icon' %>
										</td>
										<td>
													<%= link_to image_tag('images/delete.png'), task_path(t), method: :delete%>
									 	</td>
									</tr>
								<% end %>
									<tr>
											<%= form_for :task, url: tasks_path do |f|%>
													<td> <%= f.text_field :task_title, class: 'form', required: true, placeholder: 'Intitulé' %> </td>
													<td> <%= f.date_field :deadline, class: 'form', required: true %> </td>
													<td colspan="2"> <%= f.submit "Add", data: { disable_with: 'Ajout en cours...'}, style: 'font-size:16px;text-align:center;width:15vh;', class: 'button' %></td>
											<%end%>
									</tr>
			      </tbody>
			    </table>
				</div>


			<footer>
				<p> Développement :<span style="color:#1794AC"> <a href='http://mathieuharribey.fr/'>Mathieu Harribey</a></span> | Github :<span style="color:#1794AC"> <a href='http://github.com/mharribey/doolt/'>doolt</a> </span></p>
				<p> &copy; 2016 Company, Inc. </p>
			</footer>
<br>
