<div class='details' style='text-align:center;width:400px;'>
<h2>Mot de passe oublié ?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, class: 'field3', placeholder: 'Entrez votre mail' %>
  </div>

  <div class="actions">
    <%= f.submit "Envoyer un mail de modification" ,style: 'font-size:16px;vertical-align:middle;margin:5vh 0;', class: 'button' %>
  </div>
<% end %>

<%= link_to 'Retour', root_path %>
</div>
