<div class="container">

      <div class="header">
        <h1 style ='font-size:3em'>Doolt</h1>
        <p class="lead">Découvrez doolt : une nouvelle interface vous permettant de gérer vos tâches via une to-do list épurée, simple, et efficace.</p>
      </div>
</div>

<div class='home' style='text-align:center;width:400px;'>

<h2 class='title'>S'enregistrer</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'field3', :required => true %>
  </div>

  <div class="field">
    <%= f.label :password,'Mot de passe' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'field3', :required => true %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, 'Confirmation' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'field3', :required => true %>
  </div>

  <div class="actions">
    <%= f.submit "Créer mon compte", style: 'font-size:16px;vertical-align:middle;margin-top:20px;' %>
  </div>
<% end %>

<%= render "users/shared/links" %>

</div>
